{% extends 'rango/base.html' %}

{% block title %}Registro Tapa{% endblock %}

{% block body_block %}
   	<div class="panel panel-primary">
       		<div class="panel-heading">
        		<h3>Nueva Tapa</h3>
		</div>
	</div>
        <form id="tapa_form" method="post" action="{% url 'add_tapa' bar_nombre_slug=bar.slug %}">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" value="Añadir" />
        </form>
{% endblock %}
